In [2]:
# pandas is a library which has multiple functions will be loaded in the memory
import pandas as pd # from now on instead of typing pandas we can use pd in future

In [3]:
dataset=pd.read_csv("Salary_Data.csv") # dataset has been read using pandas.read_csv with the dataset name "Salary_Data.csv"

In [4]:
dataset # After read the csv file dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [8]:
independent=dataset[["YearsExperience"]] # we are splitting the input value of one column  YearsExperience  separately from csvfilename  data by using independent as  variable name 
independent #checking the varaiable

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [10]:
dependent=dataset[["Salary"]] # we are splitting  the input value of one column  salary separately from csvfilename  data by using dependent as  variable name
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [17]:
from sklearn.model_selection import train_test_split # using sklearn we are importing necessary function alone in order to save memory
x_train,x_test,y_train,y_test =train_test_split(independent, dependent ,test_size=0.30,random_state=0)# paramterized function we are giving independent,dependent,test_size,random state value for all these values we are using x_train,x_test,y_train,y_test as variable name

In [18]:
from sklearn.linear_model import LinearRegression # from sklearn  contains Ml Alogrithm will import the LinearRegression Algorithm
regressor=LinearRegression() #regressor is a variable name which is  assigned  with a non parametrized function  LinearRegression
regressor.fit(x_train,y_train) # we are calling fit method by giving  the training set input and repective output

LinearRegression()

In [19]:
weight=regressor.coef_ #In order to see the slope value of the regressor we are using weight as a variable name
weight

array([[9360.26128619]])

In [20]:
bias=regressor.intercept_ # In order to see the bias value of the regressor we are using bias as a variable name
bias

array([26777.3913412])

# Evaluation Metrics Process

In [23]:
y_pred=regressor.predict(x_test) # y_predict is a variable evaluation metric should be done for  test dataset which is x_test cross check process

In [26]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred) # y_test is a Actual output  and y_pred is the  predicted output

In [28]:
r_score # if the r_score value is nearing 1 it is learned well and called as best model

0.9740993407213511

In [29]:
import pickle #  The import statement is used  to save a model
filename="finalized_model_linear.sav" #proper finalized name alone with algorithm name.sav extension

In [30]:
pickle.dump(regressor,open(filename,'wb')) # using this dump command we are saving the finalized model

In [36]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))# Finally checking once wether it is working as expected
result=loaded_model.predict([[13]])

In [37]:
result

array([[148460.78806172]])